.container-artista {
  margin-top: 30px;
}

.container-artista p:nth-child(1) {
  font-size: 48px;
  letter-spacing: 18px;
  margin-bottom: 20px;
}

.container-artista p:nth-child(2) {
  font-size: 38px;
  color: #737373;
  letter-spacing: 14px;
  margin-bottom: 60px;
}

.container-collage-images1 {
  /* border: 1px solid #000; */
  position: relative;
  height: 500px;
}

.container-collage-images1 .img1 {
  position: absolute;
  left: 200px;
  height: 100%;
}

.container-collage-images1 .img2 {
  position: absolute;
  right: 200px;
  height: 350px;
}

.container-collage-images2 {
  /* border: 1px solid #000; */
  position: relative;
  height: 547.89px;
}

.container-collage-images2 .img3 {
  position: absolute;
  left: 100px;
  top: -50px;
}

.container-collage-images2 .img4 {
  position: absolute;
  right: 460px;
  top: -150px;
}

.container-collage-images-3 {
  position: relative;
  /* border: 1px solid #000; */
  height: 624.39px;
}

.container-collage-images-3 .img5 {
  position: absolute;
  left: 550px;
  top: -320px;
}

.container-collage-images-3 .img6 {
  position: absolute;
  right: 100px;
  top: -250px;
}

.container-collage-images-4 {
  position: relative;
  /* border: 1px solid #000; */
  height: 200px;
}

.container-collage-images-4 .img7 {
  position: absolute;
  top: -530px;
  left: 120px;
}

.container-collage-images-4 .img8 {
  position: absolute;
  top: -480px;
  right: 530px;
}

@media screen and (max-width: 1750px) {
  .container-collage-images1 .img1,
  .container-collage-images1 .img2 {
    position: relative;
    left: 0;
  }
}

@media screen and (max-width: 1670px) {
  .container-collage-images2 .img3,
  .container-collage-images2 .img4 {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
  }
}

@media screen and (max-width: 1650px) {
  .container-collage-images-3 .img5,
  .container-collage-images-3 .img6,
  .container-collage-images-4 .img7,
  .container-collage-images-4 .img8 {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
  }
  .container-collage-images-4 {
    height: auto;
  }
}

@media screen and (max-width: 1300px) {
  .container-collage-images1 {
    flex-direction: column;
    height: auto;
  }
  .container-collage-images2,
  .container-collage-images-3,
  .container-collage-images-4 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .container-collage-images1 .img1,
  .container-collage-images1 .img2,
  .container-collage-images2 .img3,
  .container-collage-images2 .img4,
  .container-collage-images-3 .img5,
  .container-collage-images-3 .img6,
  .container-collage-images-4 .img7,
  .container-collage-images-4 .img8 {
    margin: 20px 0;
  }
}