.div-principal {
    width: 800px;
    margin-top: 85px;
    margin-left: 70px;
}

.p-divider-horizontal {
    width: 800px;
    background: #E7AD69;
    height: 1px;
    border: none;
}

.tit-div {
    font-size: 32px;
    color: #FF8B03;
    font-weight: 400;
    margin-left: 30px;
    margin-bottom: 17px;
    width: 310px;
}

.text-div {
    font-size: 30px;
    color: #6C6C6C;
    font-weight: 400;
    /* width: 559px; */
    text-align: justify;
    margin-left: 60px;
    margin-top: 35px;
    margin-right: 25px;
}

.pi {
    font-size: 38px;
    font-weight: 400;
    margin-left: 410px;
}

.pi-angle-down {
    color: #FF8A00;
}

.contenedor_principal {
    /* border: 1px solid #000; */
    margin-left: 90px;
}

/* Formulario */
.container-form {
    position: relative;
}

.container-form img {
    margin-top: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form {
    position: absolute;
}