.tb_container {
  width: 80%;
  margin: 35px auto;
}

.p-tabview .p-tabview-nav {
  border: none;
}

.p-tabview-nav {
  justify-content: center;
}

.p-tabview-nav li a {
  font-size: 25px;
  color: #000;
}

.p-tabview-nav li a:hover {
  border-bottom: 1px solid #000;
  color: #ff8b03;
}

.p-highlight {
  color: #ff8b03;
}

.p-tabview-ink-bar {
  display: none;
}

.p-tabview-nav li {
  margin: 0 20px;
}
