.frase {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    font-size: 36px;
}

.frase p {
    font-weight: 400;
}

.frase .autor {
    color: #FF8B03;
    margin-top: 20px;
}

.divider {
    border: none;
    background: #D3D3D3;
    height: 1px;
    width: 88%;
    margin: 70px auto 0px auto;
} 

.des_aut {
    margin-top: 60px;
}

.tex {
    text-align: justify;
    font-size: 32px;
    margin-left: 50px;
    font-weight: 300;
    width: 40%;
    line-height: 50px;
}

.explorar h1 {
    color: #FF8B03;
    font-size: 64px;
    margin-top: 50px;
    font-weight: 400;
    text-align: center;
}

.img1 .p-image {
    margin: 0 20px;
}

.img2 .p-image {
    margin: 0 20px;
}

.img img {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

@media screen and (max-width: 1280px) {
    .tex {
        font-size: 20px;
        line-height: 35px;
    }
    .explorar h1 {
        font-size: 32px;
    }
    .img1 .p-image {
        width: 60%;
        margin: 0;
    }

    .img2 .p-image {
        width: 60%;
        margin: 0;
    }

    .img-container {
        width: 100%;
    }

    .img1 .p-image img, .img2 .p-image img {
        width: 100%;
    }

}

@media screen and (max-width: 1024px) {
    .des_aut {
        flex-direction: column;
    }
    .tex {
        width: 80% !important;
        /* border: 1px solid #000; */
        margin: 20px 0 0 0;
    }
    .img {
        text-align: center;
    }
    .img img {
        width: 80%;
    }
    .img1, .img2{
        flex-wrap: wrap;
    }
    .img1 .p-image, .img2 .p-image {
        margin: 10px 0;
    }
}

@media screen and (max-width: 460px) {
    .frase {
        text-align: center;
    }
    .explorar h1 {
        font-size: 40px;
    }
}